.background {
  height: 100vh;
  font-size: 14px;
  display: flex;
  background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/dc7eed1debe95756bca7836c/gfdfdfdf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin: auto;
  max-width: 5000px;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 50px;
  margin-bottom: 15px;
}

.sign-in {
  padding: 25px;
  background-color: #191d2c;
  color: #757781;
  border-radius: 8px;
}

.links {
  margin: 15px 0px 35px;
}

.input {
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 20px;
}

.icon {
  margin: 0 6px 6px 0;
}

.title {
  margin: 0 0 30px;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}
